body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    background-color: wheat;
}

.img{
  text-align: center;
  margin-top: 8%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 65%;
  transition: all 1s;
  background-color: wheat;
  flex-wrap: wrap;
  
}
.img:hover{
  transform:  scale(1.1);
}
.dot{
  text-align: center;
  margin-left: 550px;
  color:  rgb(141, 34, 141);
  font-size:80px;
  margin-top: 0px;
  border-bottom: 2px solid plum;
  border-right: 2px solid pink;
  width: 390px;
  text-align: center;
  text-shadow:4px 4px 5px purple ;
  box-shadow: 4px 4px 5px grey;
  
}
 